<ion-row justify-content-center>
    <ion-col size="12">
        <div style="text-align: center">
            <h1>Quick contact</h1>
            <p>We can give you a fast response via email, phone call or skype.</p>
        </div>
    </ion-col>
    <ion-col size-md="12">
      <div class="outerProgressbar" >
        <div class="innerProgressbar" [@progressBar]=progress (@progressBar.done)="endProgress()">
        </div>
      </div>
    </ion-col>
  </ion-row>
  
  <ion-row justify-content-center>
     <ion-col size-md="10" size-sm="12">
       <ion-row justify-content-center>
          <ion-col size-xs="10" size-sm="10" size-md="4" class="contactUs">
               <p>For inquiry<span><img src="https://img.icons8.com/cotton/64/000000/email-open.png"></span> </p>
                <p class="p2">{{contactUs.email}}</p>
          </ion-col>
          <ion-col size-xs="10" size-sm="10" size-md="4" class="contactUs">
                <p>Call us on<span><img src="https://img.icons8.com/wired/64/000000/cell-phone.png"></span></p>
                <p class="p2">{{contactUs.phone}}</p>
          </ion-col>
          <ion-col size-xs="10" size-sm="10" size-md="4" class="contactUs">
                <p>Address<span><img src="https://img.icons8.com/cotton/64/000000/worldwide-location--v2.png"></span></p>
                <p class="p2">{{contactUs.location}}</p>
          </ion-col>   
       </ion-row>
      </ion-col>
  </ion-row>
  
  
  <ion-row justify-content-center>
    <ion-col size="4">
      <div style="text-align: center"> 
          <small style="color: gray">&copy; Copyright 2019 </small>
      </div>
    </ion-col>
  </ion-row>
  
