.outerProgressbar{
    height: 2px;
    width: 100%;
    background-color: rgb(233, 227, 227);
    border-radius: 15%;
  }
  
  .innerProgressbar{
    height: 1.8px;
    width: 0%;
    background-color: gray;
    border-radius: 15%;
  }
  
  h1{
    color: rgb(31, 30, 30)
  }

  .contactUs{
    padding-left: 10px;
    padding-top: 50px;
    small{
      line-height: 0;
    }
    p{
      font-size: 18px;
      font-weight: 100;
      color: rgb(31, 30, 30)
    }
    .img{
      margin-left: 15px
    }
  }

  .contactUs:hover{
    cursor: pointer;
    p{
      color: black
    }
  }

  .letter-space{
    letter-spacing: 2px
  }