
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    }
ion-content{
    --background: rgb(228, 250, 245);
}
ion-header:after{
    display: none
 }

.portfolioCoverImage{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 70vh;
 //   background-image: url('https://cdn.dribbble.com/users/3272371/screenshots/6808066/folded_business_card_mockup_3_2x.jpg');
  //  background-size: 100% 100%;
    opacity: 0.8;
    position: relative;

    .img{
      height: 70vh;
      width: 100%;
    }

}

    
.portfolioTitle{
    color: rgb(95, 91, 91);
    margin:10px;
}

.portfolioWebsite{
    position: absolute;
    width: 100%;
    color: rgb(44, 42, 42);
    padding-left: 3px;
    bottom: 0;
    padding: 10px;
    text-align: end;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}


.portfolioMainImage{
    width: 100%;
}

.portfolioInfo{
    color: rgb(95, 91, 91);
    small{
        letter-spacing: 4px;
        color: black
    }
}
    
