<ion-header class="ion-no-padding" no-shadow>
    <ion-toolbar>
        <ion-title>
            <img src="../assets/logo.jpg">
        </ion-title>
        <small style="margin-left: 25px; color:gray">Pioner in creative design</small>
        <ion-buttons slot="end">
            <ion-button (click)="openMenu()"><img src="https://img.icons8.com/material-sharp/24/000000/menu.png" style="margin-right:20px"></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-no-padding ">
    <app-menu *ngIf="isMenuOpen"></app-menu>

    <div text-center>
        <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
    </div>

  <ion-row class="ion-no-padding" class="contents">
      <ion-col size-md="8" offset-md="2" class="ion-no-padding">

        <ion-row class="ion-justify-content-center">
          <ion-col>
            <div style="text-align: center; color: gray">
              <h1  [@flip]="flip" style="font-size: 50px; line-height:0.5">24/7</h1>
              <p>We are online</p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row justify-content-center class="rows">
          <ion-col size-md="8" size-sm="10" size-xs="12" >
            <div class="title1">
              <h1>Stay with us</h1>
              <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
            </div>
          </ion-col>
          <ion-col size-md="6" size-sm="10" size-xs="12" class="contactInfo1">
            <div >
              <h4>Our Cave</h4>
              <p>{{contactUs.location}}<br>{{contactUs.phone}}<br>{{contactUs.email}}</p>
            </div>
            <div style="text-align: center; position: absolute; bottom: 0">
                <img class="img" src="https://img.icons8.com/officel/30/000000/facebook-new.png">
                <img class="img" src="https://img.icons8.com/officexs/30/000000/internet.png">
                <img class="img" src="https://img.icons8.com/office/30/000000/twitter.png">
            </div>
          </ion-col>
          <ion-col size-md="6" size-sm="10" size-xs="12" class="contactInfo2">
         
                <!-- <span><img src="https://img.icons8.com/cotton/50/000000/taxi-location.png"></span> 
                <h1>Find Us From Google</h1> -->
                <div style="width: 100%; height: 100%;"><iframe width="100%" height="100%" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Dhaka+(Find%20us%20from%20google)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/coordinates.html">gps coordinates</a></iframe></div><br /> </ion-col>
        </ion-row>


        <ion-row justify-content-center class="rows">
            <ion-col size-md="10" size-sm="10" size-xs="12" >
                <div class="title1">
                    <h1>Feel  free to contact us</h1>
                    <small>Send your query</small>
                  </div>
            </ion-col>
            <ion-col size-md="6" size-sm="10" size-xs="12" style="padding:10% 5%;" class="contactInfo2">
              <div >
                <h4>Send us email</h4>
                <small style="text-align: justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</small>
              </div>
            </ion-col>
            <ion-col size-md="6"  size-sm="10" size-xs="12" class="contactInfo5">
              <ion-row>
                  <ion-col size="12">
                      <div style="text-align: center; color: rgb(5, 100, 80); margin-bottom: 20px">
                          <small *ngIf=" sendMailMessage" [@fadeDown]="fadeDownState" (@fadeDown.done)="fadeDownEnd()" style="position: absolute; left: 0; letter-spacing: 1px">E-mail sent! thanks for your query</small>
                      </div>
                  </ion-col>
              </ion-row>

              <div style="text-align: center">
                  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                     
                        <ion-input placeholder="Name" ngModel name="name"></ion-input>
                     
                        <ion-input placeholder="E-mail "  ngModel name="email"></ion-input>
                     
                        <ion-textarea rows="3" placeholder="Message"  ngModel name="message"></ion-textarea>
                     
                        <p (click)="onSubmit(f)" class="submit">Send</p>
                  </form> 
              </div>
            </ion-col>
          </ion-row>
    
        
      </ion-col>
  </ion-row>

  
  <ion-row style="margin-top: 100px">
      <ion-col size="10" offset="1">
        <app-footer></app-footer>
      </ion-col>
  </ion-row>    
</ion-content>

                      <!-- <p  type="submit" class="button">Send mail</p> -->