ion-toolbar {
    --background: transparent;
    --border-color: transparent;
    --ion-color-base: transparent !important;
    }
ion-content{
    --background: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}

ion-header:after{
    display: none
 }
 

.portfolioCoverImage{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 70vh;
   // background-image: url('https://static.wixstatic.com/media/efa2f0_90c0d7cd70fc44078835812a826cbf15~mv2_d_2600_1497_s_2.jpg');
  //  background-size: 100% 100%;
}


.portfolioImage{
    position: relative;
}

.portfolioImage:hover .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(56, 143, 110);
    opacity: 0.7;
    transition: 0.2s ease-in
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;

    .overlayTitle{
        position: absolute;
        text-align: center;
        width: 90%;
        left:5%;
        top: 20%;
        color: white;
        line-height: 0.5;

        .overlaySubTitle{
            color: white;
            opacity: 0;
        }
    }
   
}



.title1{
    width: 100vw;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
    color: rgb(82, 75, 75);
    p{
     margin-left: 25vw;
     margin-right: 25vw; 
    
    }
}

.showAll{
    padding-bottom: 5px;
}

.showAll:hover{
    cursor: pointer;
    color: black;
    border-bottom: 2px solid gray;
    transition: 0.1s ease-in-out;
}