<ion-header class="ion-no-padding" no-shadow>
    <ion-toolbar>
        <ion-title>
            <img src="../assets/logo.jpg">
        </ion-title>
        <small style="margin-left: 25px; color:gray">Pioner in creative design</small>
        <ion-buttons slot="end">
            <ion-button (click)="openMenu()"><img src="https://img.icons8.com/material-sharp/24/000000/menu.png" style="margin-right:20px"></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding" fullscreen>

<!-- menu -->
<app-menu *ngIf="isMenuOpen"></app-menu>
<!-- menu -->
<div text-center>
    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
</div>

  <ion-row class="ion-no-padding">
     <ion-col size="12" class="ion-no-padding">
       <div class="portfolioCoverImage">
         <img class="portfolioCoverImage"  src="{{'http://aptest.therssoftware.com/pwa_backend/assets/cover/'+ coverImageData.image}}">
         <div  [@fadeInDown]="fadeInDown" style=" position: absolute; top: 50px; width: 30%;left:35%; text-align: center;">
          <h1 style="letter-spacing: 3px; color: rgb(73, 71, 71);">Explore Creativity</h1>
          <small>Lorem Ipsum has been the industry's</small>
         </div>
        </div> 
     </ion-col>
  </ion-row>

    <ion-row class="ion-no-padding">
        <ion-col size="12" class="ion-no-padding">
          <div class="title1">
            <h1>We Explore Creativity</h1>
            <p>industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
               when an unknown printer took a galley of type </p>
          </div>
        </ion-col>
    </ion-row>
   
    <ion-row class="ion-no-padding">
      <ion-col size-md="8" offset-md="2" size-sm="10" offset-sm="1" size-xs="12">
        
        <ion-row justify-content-end style="margin-bottom: 20px ">
           <ion-col size="2">
             <small (click)="onShowAll()" class="showAll">SHOW ALL</small>
           </ion-col>
        </ion-row>
        <ion-row>
            <ion-col 
            size-md="6" size-sm="6" size-xs="12" 
            class="ion-no-padding portfolioImage"
            *ngFor="let image of portfolioImage">
                <div class="portfolioImage" (mouseenter)="startFadeInDown()">
                    <ion-img src="{{'http://aptest.therssoftware.com/pwa_backend/assets/uploads/portfolio/main/' + image.image}}"></ion-img>
                    <div class="overlay" routerLink="/portfolio-detail/{{image.portfolio_id}}">
                        <div class="overlayTitle" [@FadeInDown]="state" (@FadeInDown.done)="endSate()">
                          <h5>{{image.title}}</h5>
                          <small class="overlaySubTitle" [@FadeInSpacing]="stateFadeInSpacing" (@FadeInSpacing.done)="endFadeInSpacing()">
                            Made with {{image.technology}}
                          </small>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 100px">
      <ion-col size="10" offset="1">
        <app-footer></app-footer>
      </ion-col>
    </ion-row>

</ion-content>

