<ion-header class="ion-no-padding" no-shadow>
    <ion-toolbar>
        <ion-title>
            <img src="../assets/logo.jpg">
        </ion-title>
        <small style="margin-left: 25px; color:gray">Pioner in creative design</small>
        <ion-buttons slot="end">
            <ion-button (click)="openMenu()"><img src="https://img.icons8.com/material-sharp/24/000000/menu.png" style="margin-right:20px"></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

  
  <ion-content fullscreen class="ion-no-padding">
       <!-- menu -->
       <app-menu *ngIf="isMenuOpen"></app-menu>
       <!-- menu -->

    <ion-row class="ion-no-padding">
       <ion-col size="12" class="ion-no-padding">
         <div class="portfolioCoverImage">
         </div>
       </ion-col>
    </ion-row>  

    <ion-row  style="position: relative" justify-content-center>
      <ion-col size-md="8" size-sm="12" size-xs="12" class="testimonialSlider">
          <ion-slides pager="true" [options]="slideOpts">
            
              <ion-slide *ngFor="let testimonial of allTestimonial">
              <ion-card>
                  <ion-card-header >
                      <ion-card-title>
                        <h3>{{testimonial.name}}</h3>
                         <img src="http://localhost/ci_mini/assets/uploads/testimonial/{{testimonial.image}}" class="img">
                      </ion-card-title>
                  </ion-card-header>
                
                  <ion-card-content>
                    <div style="margin-bottom: 20px; padding: 10px;">
                        <p >{{testimonial.details}}</p>
                    </div>
                    
                  </ion-card-content>
              </ion-card>                        
    
            </ion-slide>
          </ion-slides>
      </ion-col>
    </ion-row>

    
     <ion-row style="margin-top: 100px">
        <ion-col size="10" offset="1">
          <app-footer></app-footer>
        </ion-col>
      </ion-row>

  </ion-content>








