ion-header:after{
   display: none
}

ion-toolbar {
    --background: transparent;
    --border-color: transparent;
    --ion-color-base: transparent !important;
     
    font-family: 'Montserrat', sans-serif;
    }
ion-content{
    --background: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}

.menu{
    height: 2000px;
    width: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    background-color:rgb(1, 34, 34);
    z-index: 900;
    display: block;
}
.menuFooterDiv{
   text-align: center;
   color: gray;
   .img{
       margin: 5px;
       cursor: pointer;
   }

   p:hover {
     color: white;
     letter-spacing: 1px;
     transition: 0.3s ease-in-out
   }
}
.menuMainDiv{
    padding: 10%;
    color: white;
    background-color:rgb(165,42,42);
    text-align: center;
}

.menuMainDiv:hover, .menuDiv1:hover, .menuDiv2:hover, .menuDiv3:hover{
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.2s ease-in;
    border: 2px solid rgb(212, 208, 208);
}

.menuDiv1{
    padding: 10%;
    color: black;
    background-color:rgb(3, 92, 92);
    text-align: center;
    border: 2px solid rgb(156, 154, 154);
}

.menuDiv2{
    padding: 10%;
    color: black;
    background-color:rgb(  205,92,92);
    text-align: center;
    border: 2px solid rgb(156, 154, 154);
   
}
.menuDiv3{
    padding: 10%;
    color: black;
    background-color:rgb(255,127,80);
    text-align: center;
    border: 2px solid rgb(156, 154, 154);
 
}
.grid1{
    height: 80vh;
  }

.slideshow{
    position: relative;
    z-index: 0;
}

.menuBar{
    position: absolute;
    width: 100vw;
    z-index: 500;

    .menuButton{
        position: fixed;
        z-index: 550
    }
}


.titleRow{
    color: rgb(226, 220, 220);
    z-index: 500;
    position: absolute;
    width: 100vw;
    margin-top: 50vh;
    margin-left: 5vw;
    h1{
        color: rgb(206, 203, 203);
        letter-spacing: 2px;
        font-weight: 600;
    }
    p{
        color: rgb(206, 203, 203);
    }
    .button{
        padding: 10px;
        text-align: center;
        width: 150px;
        border: 2px solid gray;
        color: rgb(206, 203, 203);
        border-radius: 20px;
    }
    .button:hover{
        border: 2px solid white;
        cursor: pointer;
    }

}

.scrolMoreRow{
    color: rgb(175, 175, 175);
    position: absolute;
    top: 85vh;
    right: 10vw;
    cursor: pointer;
    letter-spacing: 3px;
    z-index: 500;
  }